@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.footer {
  color: white;
  padding-top: 30px;
  .TextFont {
    font-family: "Chakra Petch";
    font-weight: 300;
    font-style: normal;
    &:hover {
      color: red;
    }
  }
}

.Link {
  color: red;
}
.logo1 {
  padding: 20px;
  margin-left: 20px;
  width: 200px;
  height: auto;
  cursor: pointer;
}
.TextFont {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  &:hover {
    color: red;
  }
  link {
    color: red;
  }
}
.TextOnly {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: medium;
}
